body {
    width: 800px;
    margin: auto;
    font-family: Arial, "Helvetic Neue", Helvetica, sans-serif;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

div.post {
    border-left: 6px solid black;
}