<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
<style>
body {width: auto;
	margin: 0 auto;
	font-family: "Arial", Helvetica, sans-serif;}

header {text-align: center;}

a:link {color: black;
	text-decoration: none;}
	a:visited {color: black;
	text-decoration: none;}

a:hover {color: black;
	text-decoration: underline}

nav {text-align: center;}

section {width: 800px;
	margin: 0 auto;
	text-align: left;}
</style>
</head>
<body>
<header>
	<h1><a href="index.htm">gatheryee</a></h1>
</header>
<nav>
	<p>
	<a href="about.htm">about</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.twitch.tv/gatheryee">twitch</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://www.youtube.com">youtube</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="ultimateguide.htm">the ultimate beginner's guide to magic the gathering</a>
	</p>
</nav>
<section>
{{ content }}
</section>
</body>
</html>
